*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 10vh auto;
    border: 1px solid red;
    text-align: center;
    background-color: #F1F5F8;
    padding: 20px;
}

.form {
    margin-top: 10px;
}

#num {
    width: 30px;
}

.btn {
    border: none;
    padding: 3px 7px;
    background-color: transparent;
    border: 1px solid #49A6EA;
    color: #49A6EA;
    margin-left: 10px;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    background-color: #49A6EA;
    color: white;
}